# Numpy

### 결측치 확인하기

In [1]:
import pandas as pd

In [2]:
#read_csv()함수 활용 데이터 셋 불러오기
air=pd.read_csv('ch3-1.csv')
air
#결측치는 Nan로 표기됨

      MMDDHH  PM10  PM25     O3    NO2   CO    SO2
0   06-01-01  28.0  18.0  0.039  0.009  0.3  0.002
1   06-01-02  19.0  14.0  0.041  0.007  0.3  0.002
2   06-01-03  15.0  13.0  0.043  0.006  0.3  0.002
3   06-01-04  16.0  13.0  0.042  0.006  0.3  0.002
4   06-01-05  14.0  11.0  0.041  0.008  0.3  0.003
5   06-01-06  14.0  10.0  0.040  0.009  0.3  0.003
6   06-01-07  15.0  10.0  0.038  0.014  0.3  0.002
7   06-01-08  20.0  10.0  0.034  0.019  0.3  0.002
8   06-01-09  28.0  15.0  0.032  0.022  0.4  0.003
9   06-01-10  28.0  12.0  0.035  0.017  0.4  0.003
10  06-01-11  29.0   9.0  0.038  0.015  0.4  0.003
11  06-01-12  32.0  11.0  0.039  0.012  0.3  0.003
12  06-01-13  32.0  11.0  0.038  0.015  0.3  0.003
13  06-01-14   NaN   NaN    NaN    NaN  NaN    NaN
14  06-01-15   NaN   NaN    NaN    NaN  NaN    NaN
15  06-01-16   NaN   NaN  0.038  0.020  0.4  0.003
16  06-01-17  27.0  12.0  0.041  0.022  0.4  0.003
17  06-01-18  24.0  14.0  0.048  0.016  0.4  0.003
18  06-01-19  25.0  12.0  0.048  0.014  0.3  0.003
19  06-01-20  26.0  14.0  0.043  0.020  0.4  0.003
20  06-01-21  28.0  15.0  0.049  0.017  0.4  0.003
21  06-01-22  25.0  13.0  0.045  0.020  0.4  0.003
22  06-01-23  29.0  14.0  0.035  0.023  0.4  0.003
23  06-01-24  25.0  15.0  0.028  0.027  0.4  0.003

In [3]:
#결측치 확인하기1
air.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 24 entries, 0 to 23
Data columns (total 7 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   MMDDHH  24 non-null     object
 1   PM10    21 non-null     float64
 2   PM25    21 non-null     float64
 3   O3      22 non-null     float64
 4   NO2     22 non-null     float64
 5   CO      22 non-null     float64
 6   SO2     22 non-null     float64
dtypes: float64(6), object(1)
memory usage: 1.4+ KB

In [4]:
#결측치 확인하기2   True가 결측치 있음
air.isnull()

    MMDDHH   PM10   PM25     O3    NO2     CO    SO2
0    False  False  False  False  False  False  False
1    False  False  False  False  False  False  False
2    False  False  False  False  False  False  False
3    False  False  False  False  False  False  False
4    False  False  False  False  False  False  False
5    False  False  False  False  False  False  False
6    False  False  False  False  False  False  False
7    False  False  False  False  False  False  False
8    False  False  False  False  False  False  False
9    False  False  False  False  False  False  False
10   False  False  False  False  False  False  False
11   False  False  False  False  False  False  False
12   False  False  False  False  False  False  False
13   False   True   True   True   True   True   True
14   False   True   True   True   True   True   True
15   False   True   True  False  False  False  False
16   False  False  False  False  False  False  False
17   False  False  False  False  False  False  False
18   False  False  False  False  False  False  False
19   False  False  False  False  False  False  False
20   False  False  False  False  False  False  False
21   False  False  False  False  False  False  False
22   False  False  False  False  False  False  False
23   False  False  False  False  False  False  False

In [5]:
#결측치 확인하기3    결측치 개수 세어 줌
air.isnull().sum()

MMDDHH    0
PM10      3
PM25      3
O3        2
NO2       2
CO        2
SO2       2
dtype: int64

### 결측치 제거하기

In [7]:
#결측치 제거(axis=0: 행제거, axis=1: 열제거)
air_d=air.dropna(axis=0)
air_d

      MMDDHH  PM10  PM25     O3    NO2   CO    SO2
0   06-01-01  28.0  18.0  0.039  0.009  0.3  0.002
1   06-01-02  19.0  14.0  0.041  0.007  0.3  0.002
2   06-01-03  15.0  13.0  0.043  0.006  0.3  0.002
3   06-01-04  16.0  13.0  0.042  0.006  0.3  0.002
4   06-01-05  14.0  11.0  0.041  0.008  0.3  0.003
5   06-01-06  14.0  10.0  0.040  0.009  0.3  0.003
6   06-01-07  15.0  10.0  0.038  0.014  0.3  0.002
7   06-01-08  20.0  10.0  0.034  0.019  0.3  0.002
8   06-01-09  28.0  15.0  0.032  0.022  0.4  0.003
9   06-01-10  28.0  12.0  0.035  0.017  0.4  0.003
10  06-01-11  29.0   9.0  0.038  0.015  0.4  0.003
11  06-01-12  32.0  11.0  0.039  0.012  0.3  0.003
12  06-01-13  32.0  11.0  0.038  0.015  0.3  0.003
16  06-01-17  27.0  12.0  0.041  0.022  0.4  0.003
17  06-01-18  24.0  14.0  0.048  0.016  0.4  0.003
18  06-01-19  25.0  12.0  0.048  0.014  0.3  0.003
19  06-01-20  26.0  14.0  0.043  0.020  0.4  0.003
20  06-01-21  28.0  15.0  0.049  0.017  0.4  0.003
21  06-01-22  25.0  13.0  0.045  0.020  0.4  0.003
22  06-01-23  29.0  14.0  0.035  0.023  0.4  0.003
23  06-01-24  25.0  15.0  0.028  0.027  0.4  0.003

### 결측치를 평균으로 대체하기

In [11]:
#결측치를 평균으로 대체하기 위해 평균 확인
air.mean()

C:\project\lib\site-packages\ipykernel_launcher.py:2: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.

PM10    23.761905
PM25    12.666667
O3       0.039773
NO2      0.015364
CO       0.350000
SO2      0.002727
dtype: float64

In [10]:
#평균 값으로 결측치 대체
air_m=air.fillna(air.mean())
air_m

C:\project\lib\site-packages\ipykernel_launcher.py:2: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.

      MMDDHH       PM10       PM25        O3       NO2    CO       SO2
0   06-01-01  28.000000  18.000000  0.039000  0.009000  0.30  0.002000
1   06-01-02  19.000000  14.000000  0.041000  0.007000  0.30  0.002000
2   06-01-03  15.000000  13.000000  0.043000  0.006000  0.30  0.002000
3   06-01-04  16.000000  13.000000  0.042000  0.006000  0.30  0.002000
4   06-01-05  14.000000  11.000000  0.041000  0.008000  0.30  0.003000
5   06-01-06  14.000000  10.000000  0.040000  0.009000  0.30  0.003000
6   06-01-07  15.000000  10.000000  0.038000  0.014000  0.30  0.002000
7   06-01-08  20.000000  10.000000  0.034000  0.019000  0.30  0.002000
8   06-01-09  28.000000  15.000000  0.032000  0.022000  0.40  0.003000
9   06-01-10  28.000000  12.000000  0.035000  0.017000  0.40  0.003000
10  06-01-11  29.000000   9.000000  0.038000  0.015000  0.40  0.003000
11  06-01-12  32.000000  11.000000  0.039000  0.012000  0.30  0.003000
12  06-01-13  32.000000  11.000000  0.038000  0.015000  0.30  0.003000
13  06-01-14  23.761905  12.666667  0.039773  0.015364  0.35  0.002727
14  06-01-15  23.761905  12.666667  0.039773  0.015364  0.35  0.002727
15  06-01-16  23.761905  12.666667  0.038000  0.020000  0.40  0.003000
16  06-01-17  27.000000  12.000000  0.041000  0.022000  0.40  0.003000
17  06-01-18  24.000000  14.000000  0.048000  0.016000  0.40  0.003000
18  06-01-19  25.000000  12.000000  0.048000  0.014000  0.30  0.003000
19  06-01-20  26.000000  14.000000  0.043000  0.020000  0.40  0.003000
20  06-01-21  28.000000  15.000000  0.049000  0.017000  0.40  0.003000
21  06-01-22  25.000000  13.000000  0.045000  0.020000  0.40  0.003000
22  06-01-23  29.000000  14.000000  0.035000  0.023000  0.40  0.003000
23  06-01-24  25.000000  15.000000  0.028000  0.027000  0.40  0.003000

### 결측치를 중앙값으로 대체하기

In [12]:
#중앙값 확인
air.median()

C:\project\lib\site-packages\ipykernel_launcher.py:2: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.

PM10    25.0000
PM25    13.0000
O3       0.0395
NO2      0.0155
CO       0.3500
SO2      0.0030
dtype: float64

In [14]:
air_md=air.fillna(air.median())
air_md

C:\project\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  """Entry point for launching an IPython kernel.

      MMDDHH  PM10  PM25      O3     NO2    CO    SO2
0   06-01-01  28.0  18.0  0.0390  0.0090  0.30  0.002
1   06-01-02  19.0  14.0  0.0410  0.0070  0.30  0.002
2   06-01-03  15.0  13.0  0.0430  0.0060  0.30  0.002
3   06-01-04  16.0  13.0  0.0420  0.0060  0.30  0.002
4   06-01-05  14.0  11.0  0.0410  0.0080  0.30  0.003
5   06-01-06  14.0  10.0  0.0400  0.0090  0.30  0.003
6   06-01-07  15.0  10.0  0.0380  0.0140  0.30  0.002
7   06-01-08  20.0  10.0  0.0340  0.0190  0.30  0.002
8   06-01-09  28.0  15.0  0.0320  0.0220  0.40  0.003
9   06-01-10  28.0  12.0  0.0350  0.0170  0.40  0.003
10  06-01-11  29.0   9.0  0.0380  0.0150  0.40  0.003
11  06-01-12  32.0  11.0  0.0390  0.0120  0.30  0.003
12  06-01-13  32.0  11.0  0.0380  0.0150  0.30  0.003
13  06-01-14  25.0  13.0  0.0395  0.0155  0.35  0.003
14  06-01-15  25.0  13.0  0.0395  0.0155  0.35  0.003
15  06-01-16  25.0  13.0  0.0380  0.0200  0.40  0.003
16  06-01-17  27.0  12.0  0.0410  0.0220  0.40  0.003
17  06-01-18  24.0  14.0  0.0480  0.0160  0.40  0.003
18  06-01-19  25.0  12.0  0.0480  0.0140  0.30  0.003
19  06-01-20  26.0  14.0  0.0430  0.0200  0.40  0.003
20  06-01-21  28.0  15.0  0.0490  0.0170  0.40  0.003
21  06-01-22  25.0  13.0  0.0450  0.0200  0.40  0.003
22  06-01-23  29.0  14.0  0.0350  0.0230  0.40  0.003
23  06-01-24  25.0  15.0  0.0280  0.0270  0.40  0.003

## 이상치

##### 이상치는 다른 데이터와 동떨어진 데이터
##### 부적합품을 이상치라고 할 수 있음

###### 상자그림이나 히스토그램을 통해 확인 가능함

## 스케일링

#### 서로 다른 변수 간에 단위 차이로 인한 값 크기 차이가 너무 클 경우
#### 해당 변수가 영향이 큰 변수임에도 불구하고, 영향이 없는 것처럼 보일 수 있는 문제를 해결하는 방법

#### 데이터의 범위를 변환하는 데 사용하는 방법